<!DOCTYPE html>
<html>
<head>
	<title>Flavour-Login</title>
</head>
<body>
	<div class="notice"><%= notice %></div>
	<%= form_tag("/sessions") do %>
	<table>
		<tr>
			<%= label_tag :name %>
			<%= text_field_tag :name %>
		</tr>
		<tr>
			<%= label_tag :password %>
			<%= password_field_tag :password %>
		</tr>
		<tr><%= submit_tag "login" %></tr>
	</table>
	<% end %>
	<%= link_to 'home', '/' %>
</body>
</html>
