<!DOCTYPE html>
<html>
<head>
	<title>Sign-Up</title>
</head>
<body>
	<div class="container">
		<%= form_tag recipes_path do %>
		<table>
		<tr>
			<td class="label">Username:</td>
			<td><%= text_field_tag :username %><br></td>	
		</tr>
		<tr>
			<td class="label">Password:</td>
			<td><%= text_field_tag :password %><br></td>
		</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><%= text_field_tag :confirm %><br></td>	
			</tr>
			</table>
			<div id="signup" class="signup-btn"><%= submit_tag "Sign Up" %></div>
		<% end %>
		<a href="/"><input type="submit" value="Home"></a>
	</div>
</body>
</html>
