<div class="container">
<%= form_for(@recipe) do |f| %>
	<% if @recipe.errors.any? %>
		<div class="error_explan">
			<%= pluralize(@recipe.errors.count, "error")%> prohibited this recipe from being saved:
			<ul>
				<% @recipe.errors.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<table>
		<tr>
		<td><%= f.label :title %></td>
		<td><%= f.text_field :title %></td>
		</tr>
	<tr>
		<td><%= f.label :description %></td>
		<td><%= f.text_field :description %></td>
	</tr>
	<tr>
		<td><%= f.label :category %></td>
		<td><%= f.collection_select(:category_id, Category.all, :id, :name) %></td>
	</tr>
		
	<tr>
		<td><%= f.label :ingredients %></td>
		<td><%= f.collection_check_boxes :ingredient_ids,Ingredient.all, :id, :name %></td>
	</tr>
	<tr>
		<td><%= f.label :preparation %></td>
		<td><%= f.text_area :preparation %></td>
	</tr>
	</table>
	<div id="first_btn" class="btn"><%= f.submit %></div>
	<input class="btn" type="submit" value="Home">
<% end %>
</div>