<%= form_for(@recipe) do |f| %>
	<% if @recipe.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@recipe.errors.count, "error")%> prohibited this recipe from being saved:</h2>
			<ul>
				<% @recipe.error.full_messages.each do |msg| %>
				<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %><br>
	</div>
	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %><br><br>
	</div>
	<div>
		<%= f.label :category %>
		<%= f.text_field :category %><br>
	</div>
		
	<div>
		<%= f.label :ingredients %>
	<%= f.text_field :ingredients %><br>
		</div>
		
	<div>
		<%= f.label :preparation %>
		<%= f.text_field :preparation %><br>
	</div>


	<div class="actions"><%= f.submit %></div>
	
<% end %>