<!DOCTYPE html>
<html>
  <head>
    <title>Flavour</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="js/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag 'home' %>
     
  </head>

  <body>
   
    <%= yield %>
  </body>
</html>
